/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --card-height: 72vh;
  --card-width: calc(var(--card-height) / 1.72);
}

/* Body styles */
body {
  background-image: url("assets/windowsbg.jpg");
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: aliceblue;
  overflow: hidden;
}

/* GitHub logo */
.github {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 40px;
  top: 5em;
  left: 5em;
  font-size: 1.1rem;
}

/* Calculator grid */
.calc-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 0.5em;
  position: absolute;
  border-radius: 0.1em;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

.calc-grid::before {
  content: "";
  width: 102%;
  height: 102%;
  border-radius: 0.4em;
  background-image: linear-gradient(
    var(--rotate),
    #76e1ff,
    #1c54ff 43%,
    #3f009e
  );
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

.calc-grid::after {
  content: "";
  position: absolute;
  top: calc(var(--card-height) / 6);
  z-index: -1;
  height: 102%;
  width: 102%;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #76e1ff,
    #1c54ff 43%,
    #3f009e
  );
  opacity: 1;
  animation: spin 2.5s linear infinite;
}

/* Top Calc Nav Bar */
.top-nav {
  position: relative;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: 19px;
  width: 86%;
  height: 6%;
  display: flex;
  justify-content: space-between;
}

.top-nav-btn {
  padding: 0em 0.3em;
  border: 1px solid rgb(6, 114, 236);
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  color: aliceblue;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
  font-size: 23%;
  height: 88%;
}

/* Main Calc Display */
.display {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 2rem;
  padding: 0.5em;
  width: 100%;
  min-height: 20%;
  box-shadow: 0em 0em #76e1ff;
}

/* Small Calc Display */
.small-display {
  position: relative;
  top: -13px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-self: flex-start;
  border-bottom-color: transparent;
  border-top: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 1.2rem;
  width: 100%;
  min-height: 10%;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0em 0em #76e1ff;
}

.calc-row {
  display: flex;
  border-radius: 0.4em;
  flex-direction: row;
  justify-content: center;
  width: 17.5em;
}

/* History button */
.history-btn {
  position: absolute;
  left: -35px;
  top: 4px;
  -webkit-background-clip: text;
  color: aliceblue;
  border: none;
}

.history-btn:active {
  box-shadow: none;
}

/* Calculator Buttons */
.calc-cell {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 0.7em;
  padding: 0.4em 0.7em;
  margin: 0.15em;
  border: 2px solid rgb(6, 114, 236);
  min-height: 2.1em;
  min-width: 23%;
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

/* Equal Button */
#eq-btn {
  min-width: 50%;
}

/* Button Hover */
button:hover {
  transform: scale(1.1);
  transition: background-color 0.2s ease-in-out;
}

/* Button Active */
button:active {
  box-shadow: 0 0 0.2em 0.1em #76e1ff;
  text-shadow: 0.1rem 0.1rem 0.1rem #1870f5;
  transform: scale(1);
}

/* Top Row Calculator Buttons */
#top-row .calc-cell {
  font-size: 1.5rem;
}

/* Styles for the minimized calculator */
.calc-grid.minimized {
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  transition: height 0.2s ease-out, width 0.2s ease-out;
}

/* Styles for the minimized calculator button */
#minimize-btn.minimized {
  transform: rotate(0);
}

#minimize-btn.minimized::after {
  content: "Restore";
}

/* Bottom Navbar */
.bottomNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  background-color: #191c29;
}

/* Bottom Navbar Logos */
.bottomNavBar .windLogo,
.bottomNavBar .calcLogo {
  height: 32px;
}

/* Bottom Navbar Buttons */
.bottom-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.bottom-nav-bar:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1);
  transition: background-color 0s ease-in-out;
}

.search-box {
  border: 1px solid rgb(112, 112, 112);
  position: absolute;
  left: 44px;
  align-items: center;
  padding: 0.5em;
  background-color: #25262c;
}

.search-box input[type="text"] {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1.2em;
  outline: none;
}

.calcLogo {
  position: relative;
  left: 0;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}
