* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: aliceblue;
}

.calc-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  margin-top: 5em;
  padding: 0.5em;
  position: relative;
  border-radius: 0.1em;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

.calc-grid::before {
  content: "";
  width: 103%;
  height: 103%;
  border-radius: 0.4em;
  background-image: linear-gradient(
    var(--rotate),
    #76e1ff,
    #1c54ff 43%,
    #3f009e
  );
  position: absolute;
  z-index: -1;
  animation: spin 2.5s linear infinite;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

.calc-grid::after {
  content: "";
  position: absolute;
  top: calc(var(--card-height) / 6);
  z-index: -1;
  height: 103%;
  width: 103%;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #76e1ff,
    #1c54ff 43%,
    #3f009e
  );
  opacity: 1;
  animation: spin 2.5s linear infinite;
}

.top-nav {
  position: relative;
  justify-content: center;
  align-items: center;
  top: -4px;
  left: 21px;
  width: 86%;
  height: 2.5%;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.top-nav-btns {
  padding: 0em 0.3em;
  border: 1px solid rgb(6, 114, 236);
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  color: aliceblue;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
  font-size: 23%;
  height: 88%;
}

.display {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 2rem;
  padding: 0.5em;
  width: 100%;
  min-height: 20%;
  box-shadow: 0em 0em #76e1ff;
}

.small-display {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-self: flex-start;
  border-bottom-color: transparent;
  border-top: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 1.2rem;
  width: 100%;
  min-height: 10%;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0em 0em #76e1ff;
}

.calc-row {
  display: flex;
  border-radius: 0.4em;
  flex-direction: row;
  justify-content: center;
  width: 17.5em;
}

.history-btn {
  position: absolute;
  left: -35px;
  top: -5px;
  -webkit-background-clip: text;
  color: aliceblue;
  border: none;
}

.history-btn:active {
  box-shadow: none;
}

#top-row .calc-cell {
  font-size: 1.5rem;
}

.calc-cell {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: 0.7em;
  padding: 0.4em 0.7em;
  margin: 0.15em;
  border: 2px solid rgb(6, 114, 236);
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  min-height: 2.1em;
  color: aliceblue;
  min-width: 23%;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
}

#eq-btn {
  min-width: 50%;
}

button:hover {
  transform: scale(1.1);
  transition: background-color 0.2s ease-in-out;
}

button:active {
  box-shadow: 0 0 0.2em 0.1em #76e1ff;
  text-shadow: 0.1rem 0.1rem 0.1rem #1870f5;
  transform: scale(1);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 72vh;
  --card-width: calc(var(--card-height) / 1.72);
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}
