@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 800;
}

/* Body styles */
body {
  background-image: url("assets/bg.png");
  background-size: cover;
  min-height: 100vh;
  min-width: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: aliceblue;
  overflow: hidden;
}

/* GitHub logo */
.github {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 40px;
  top: 5em;
  left: 5em;
  font-size: 1.1rem;
}

/* Calculator grid */
.calc-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  width: 20%;
  height: 72%;
  min-width: 300px;
  min-height: 500px;
  max-width: 100%;
  padding: 0.5em;
  position: absolute;
  border-radius: 0.3em;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 17px 1px rgb(255, 255, 255, 0.7);
  backdrop-filter: blur(14px) brightness(35%);
}

/* Top Calc Nav Bar */
.top-nav {
  position: relative;
  justify-content: center;
  align-items: center;
  top: -10px;
  left: 19px;
  width: 86%;
  min-height: 2.3em;
  height: 6%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.top-nav-btn {
  padding: 0em 0.3em;
  border: 1px solid rgb(6, 114, 236);
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  color: aliceblue;
  box-shadow: 0.1em 0.1em #76e1ff, -0.1em -0.1em #3f009e;
  font-size: 23%;
}

/* Main Calc Display */
.display {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 2rem;
  padding: 0.5em;
  width: 100%;
  max-width: 100%;
  min-height: 20%;
  box-shadow: 0em 0em #76e1ff;
}

/* Small Calc Display */
.small-display {
  position: relative;
  top: -13px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-self: flex-start;
  border-bottom-color: transparent;
  border-top: 2px solid rgb(6, 114, 236);
  border-radius: 0.5em;
  font-size: 1.2rem;
  width: 100%;
  min-height: 10%;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0em 0em #76e1ff;
}

/* History button */
.history-btn {
  position: absolute;
  left: -35px;
  top: 4px;
  -webkit-background-clip: text;
  color: aliceblue;
  border: none;
}

.history-btn:active {
  box-shadow: none;
}

/* Calculator Buttons */

.calc-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.calc-cell {
  aspect-ratio: 1 / 1;
  display: flex;
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.62em;
  margin: 1px 2px;
  border-radius: 0.3em;
  border: 1px solid rgb(6, 114, 236);
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  box-shadow: 1px 1px #76e1ff, -1px -1px #3f009e;
}

/* Equal Button */
#eq-btn {
  flex-basis: 50%;
  font-size: 1.5rem;
  padding: 0.62em;
  margin: 1px 2px;
  border-radius: 0.3em;
  border: 1px solid rgb(6, 114, 236);
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem 0.1rem #3f009e;
  -webkit-background-clip: text;
  box-shadow: 1px 1px #76e1ff, -1px -1px #3f009e;
}

/* Button Hover */
button:hover {
  transform: scale(1.1);
  transition: background-color 0.2s ease-in-out;
}

/* Button Active */
button:active {
  box-shadow: 0 0 0.2em 0.1em #76e1ff;
  text-shadow: 0.1rem 0.1rem 0.1rem #1870f5;
  transform: scale(1);
}

/* Styles for the minimized calculator */
.calc-grid.minimized {
  height: 0;
  width: 0;
  overflow: hidden;
  padding: 0;
  transition: height 0.2s ease-out, width 0.2s ease-out;
}

/* Styles for the minimized calculator button */
#minimize-btn.minimized {
  transform: rotate(0);
}

#minimize-btn.minimized::after {
  content: "Restore";
}

/* the Resize portion for corners of calc */
.resizer {
  position: absolute;
  height: 22px;
  width: 22px;
  z-index: 2;
}

.nw {
  top: -8px;
  left: -8px;
  cursor: nw-resize;
}

.ne {
  top: -8px;
  right: -8px;
  cursor: ne-resize;
}

.sw {
  bottom: -8px;
  left: -8px;
  cursor: sw-resize;
}

.se {
  bottom: -8px;
  right: -8px;
  cursor: se-resize;
}

/* Bottom Navbar */
.bottomNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  background-color: transparent;
  box-shadow: 2px 2px 20px 2px rgb(255, 255, 255);
  backdrop-filter: blur(14px) brightness(35%);
}

/* Bottom Navbar Logos */
.bottomNavBar .windLogo,
.bottomNavBar .calcLogo {
  height: 32px;
}

/* Bottom Navbar Buttons */
.bottom-nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.bottom-nav-bar:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1);
  transition: background-color 0s ease-in-out;
}

.search-box {
  border: 1px solid rgb(112, 112, 112);
  position: absolute;
  left: 44px;
  align-items: center;
  padding: 0.5em;
  background-color: transparent;
  backdrop-filter: blur(12px);
}

.search-box input[type="text"] {
  background-color: transparent;
  color: aliceblue;
  border: none;
  font-size: 1.2em;
  outline: none;
}

.search-box input[type="text"]::placeholder {
  color: rgba(240, 248, 255, 0.8);
}

.calcLogo {
  position: relative;
  left: 0;
}

/* Media queries */
/* @media (min-width: 1440px) {
  .calc-cell {
    font-size: 1.60rem;
    padding: 1.11em;
    margin: 0.1em 0.1em 0.1em 0.1em;
  }
}
 */

/* Small devices (portrait phones, less than 576px) */
/* @media (max-width: 576px) {
  :root {
    --card-height: 100vh;
    --card-width: 100vw;
  }

  .calc-grid {
    padding: 0.2em;
    height: 100%;
    width: 100%;
    border-radius: 0.1em;
    box-shadow: 1px 1px 17px 1px rgb(255, 255, 255, 0.7);
  }

  .calc-row {
    flex-wrap: wrap;
  }

  .calc-cell {
    font-size: 1.5rem;
    padding: 0.8em;
    margin: 0.2em 0.1em 0.1em 0.1em;

  }

  .small-display {
    font-size: 1rem;
    padding: 0.3em;
    min-height: 8%;
  }

  .display {
    font-size: 2rem;
    padding: 0.3em;
    min-height: 20%;
  }

  .history-btn {
    font-size: 1rem;
    padding: 0.3em;
  }

  .top-nav-btn {
    font-size: 1rem;
    padding: 0.3em;
  }
} */
